@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: "Poppins", sans-serif;
}

body {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(239, 239, 239);
    font-family: var(--font);
}

#container {
    text-align: center;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.135);
}

#container > h1 {
    color: rgb(46, 176, 219);
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
}

#text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#text > input {
    padding: 13px;
    border-radius: 4px;
    border: 1px solid black;
}

#text > button {
    font-weight: 600;
    padding: 10px;
    color: white;
    background-color: rgb(46, 176, 219);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
    transition: .3s ease-in-out;
}

#text > button:hover {
    background-color: rgb(36, 139, 174);
}

#text > span {
    font-weight: 500;
    font-size: 20px;
}

#lista {
    overflow: scroll;
}

.card {
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.card > button {
    font-weight: 600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 46, 46);
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
}

.card > button:hover {
    background-color: rgb(166, 35, 35);
}







